body, footer {
  background: #282f36 !important;
}

#root {
  height: 100vh;
  //overflow-x: hidden;
}

.my-section {
  padding-top: 50px;
}

.card {
  background: #24252d;
}

.navbar.bg-dark {
  background: #25252d !important;
}

@media screen and (max-width: 991px) {
  .navbar .navbar-collapse {
    max-height: calc(100vh - 1.4rem);
    overflow: hidden !important;
  }
}

@media screen and (max-width: 991px) {
  ul.ml-auto.btn-icon.navbar-nav {
    display: flex;
    justify-content: flex-end;
    margin-left: auto !important;
    flex-direction: initial;
  }
}

.btn-icon {
  li {
    margin: 0 !important;
    padding: 0 0 0 23px !important;

    a {
      padding: 0;

      i {
        font-size: 24px !important;
        padding: 0 !important;
      }

      span.badge-icon {
        position: absolute;
        top: -13px;
        left: 26px;
        border: 1px solid;
        margin: 0;
        padding: 0;
        width: 18px;
        height: 18px;
        text-align: center;
        border-radius: 50%;
        background-color: white;
        color: #0772db;
        font-size: 11px;
        font-weight: bold;
        justify-content: center;
        display: flex;
        align-items: center;
      }
    }
  }
}

li.nav-items.account.nav-item {
  padding: 0 !important;
}

//NavBar style
#navigation {

  .nav-items {
    width: 140px !important;
    padding: 0 !important;
    cursor: pointer;
  }

  .register_login {
    cursor: pointer;
    color: #ba54f5 !important;

    &:hover {
      color: #e14eca !important;
    }
  }

  .invoice-logo {
    height: 70px;
    width: 65%;
    object-fit: cover;
    margin: auto;
    display: block;
  }

  .invoice-info {
    margin: 1rem 0 0 !important;
  }

  .d-inline-flex strong {
    margin-right: 3px;
  }

  .date-invoice {
    margin-top: 25px !important;
  }

}

.navbar-translate {
  width: auto !important;
}

.no-border.form-group, form.ml-auto.form-inline {
  background: #242c45 !important;
  border-radius: 3px !important;
}


input#myNumber {
  border: none;
  padding: 5px 12px;
  margin: 5px 0;
}

.input-group .input-group-btn {
  padding: 0 9px;
}

.avatar-img {
  max-width: 200px;
  border-radius: 5%;

  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}

.card-login {
  width: auto !important;
}

#tab_invoice {
  .section {
    padding: 0 !important;

    .row {
      .ml-auto.mr-auto.col-md-10 {
        margin: 0 !important;
      }

      .card-invoice.card {
        width: 125%;
        margin: 0 !important;
      }
    }
  }

}

#tab-change_pass {
  .container {
    padding: 0 !important;

    .mx-auto.col-md-8.col-lg-5 {
      margin: 0 !important;

      .card-login {
        .card {
          width: 680px;
          margin: 0;
        }
      }
    }
  }
}

.chat-page .card {
  max-height: fit-content !important;
  overflow: hidden !important;
}

#star-default-color {
  span.MuiRating-icon.MuiRating-iconEmpty {
    color: #afafaf;
  }
}

.number-reviewer {
  margin: 3px 10px !important;
}

.my-pagination {
  .justify-content-center {
    display: flex !important;
    margin: auto !important;
  }

}

#collapse {
  background: #24252d;
  width: 100% !important;

  .card-plains {
    width: 100% !important;
    margin: 0;

    form, input, .no-border {
      background: #3b3b3b !important;
    }

    .card-header {
      a {
        padding: 10px 0 !important;
      }
    }
  }
}

#my-cart {
  tr {

    .td-name {
      a {
        color: #ffc400;
        font-size: 16px;
      }

    }
  }


  img {
    height: 100px !important;
    object-fit: cover;
  }
}

#products-detail {
  img {
    object-fit: cover !important;
    height: 25rem !important;
  }
}

#category {
  .pd-70 {
    padding: 70px 0 !important;

    .container {
      .nav-item {
        cursor: pointer;

        a {
          background: #282f36;
          color: #ffc400;
        }
      }

      ul {
        li {
          a {
            margin: 0 !important;
            padding: 5px 5px !important;
          }

        }
      }

      .tab-space {
        padding: 0 !important;
      }
    }
  }
}

#products {
  .products-img {
    overflow: hidden !important;
    border-radius: 7px;
    padding: 10px;

    img {
      cursor: pointer;
      object-fit: cover;
      height: 13rem;
    }

    .add-to-wish {
      position: absolute;
      top: 58%;
      right: 30px;
    }

    &:hover {
      img {
        filter: blur(2px);
      }

      .add-cart {
        font-size: 14px;
        padding: 10px 22px;
        left: 20px !important;
        top: 30%;
        opacity: 1 !important;
        transition: 0.1s;
        z-index: 2;
      }

      .views {
        font-size: 14px;
        padding: 10px 22px;
        right: 20px !important;
        top: 30%;
        opacity: 1;
        transition: 0.1s;
        z-index: 2;
      }

      .product-discount {
        z-index: 0;
      }
    }

  }


  .add-cart {
    position: absolute !important;
    font-size: 14px;
    padding: 10px 22px;
    left: -8rem;
    opacity: 0;
    top: 30%;
    z-index: -9999;
  }

  .views {
    position: absolute !important;
    font-size: 14px;
    padding: 10px 22px;
    right: -7rem;
    opacity: 0;
    top: 30%;
    z-index: -9999;
  }

  .product-discount {
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0.8;
    font-size: 12px;
  }


  .product-info {
    margin: 10px 0 0;

    .products-star_rating {
      line-height: 0 !important;

      .pr-total_rate {
        position: relative !important;
        top: -7px !important;
        font-size: 11px !important;
        right: -50px !important;
      }

      fieldset {
        margin: 0 !important;


        span {
          font-size: 16px !important;
          margin: 0 0 5px 0 !important;
        }

      }
    }

    .products-name {
      display: inline-grid;

      .names {
        color: white;
        font-weight: 500;
        width: 120px;
        overflow: hidden;
        font-size: 12px;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0 !important;
      }

      .afterDiscount {
        color: #fd5d93 !important;
        font-size: 11px !important;
        margin-right: 5px;
        font-weight: bold;
      }

      .beforeDiscount {
        color: #afafaf !important;
        font-size: 11px !important;
        font-weight: 500;
      }

      .pr-price {
        font-size: 11px !important;
        margin: 0 5px;
      }
    }

    .products-progress {
      .progress {
        width: 100%;
      }
    }
  }
}

.customer_comment {
  margin: 0px 52px 0 60px;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  padding: 20px 30px;

  span {
    label {
      span.MuiRating-icon.MuiRating-iconEmpty {
        color: #afafaf;
      }
    }
  }
}

.invoice-logo {
  height: 82px !important;
  object-fit: cover !important;
  width: 100% !important;
}

.op-06 {
  background-color: rgba(198, 83, 36, 0.27) !important;
}

.content_index {
  position: relative;
  top: -47rem;
}


.no-pd {
  padding: 0;
}

#topsale {
  .col-md-8 {
    padding-right: 0 !important;

    .carousel.slide {
      height: 30rem !important;

      .carousel-inner {
        height: 30rem !important;

        .carousel-item {
          height: 30rem !important;

          .w-100 {
            width: auto !important;
          }

          img {
            max-width: initial !important;
          }
        }

      }

    }
  }

  .col-md-4 {
    padding-left: 0 !important;

    .top-product {
      height: 15rem !important;
      -moz-border-radius-topleft: 0;
      -moz-border-radius-bottomleft: 0;

      &:nth-child(1) {
        border-bottom: 1px solid #ffbb55;
      }

      .top-product_img {
        display: block;
        margin: auto;
        max-width: 45%;
        padding: 10px;
      }

      .top-product-title {
        margin: 5px 0 0 0;
        font-size: 15px;
        font-weight: bold;
        padding: 10px 0 0 0;
      }

      .more_detail {
        display: block;
        margin: auto;
        text-align: center;
        font-size: 14px;
      }
    }
  }

}

// slick product
#slick_product {
  .slick-slide.slick-active {
    width: 280px !important;
  }

  .slick-list {
    margin: 0 !important;
  }

  //  .slick-track{
  //    .slick-slide.slick-active.slick-cloned {
  //      width: 280px !important;
  //    }
  //    .slick-slide.slick-active {
  //      width: 280px !important;
  //    }
  //    .slick-slide.slick-cloned {
  //      width: 232px !important;
  //    }
  //  }
  //
  button.btn-round.btn-icon.btn-simple.slick-prev.slick-arrow.btn.btn-primary {
    position: absolute;
    top: 10rem;
    left: -0.3rem;
    background: #ffc400 !important;
    border: none !important;

    i {
      font-weight: bold;
      font-size: 12px;
      color: black;
    }
  }

  button.btn-round.btn-icon.btn-simple.slick-next.slick-arrow.btn.btn-primary {
    position: absolute;
    top: 10rem;
    right: -0.5rem;
    background: #ffc400 !important;
    border: none !important;

    i {
      font-weight: bold;
      font-size: 12px;
      color: black;
    }
  }
}

.list_line {
  color: yellow !important;
  width: 100%;
  font-size: 17px;
  overflow: hidden;
  font-weight: 500 !important;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.list-line_price {
  text-align: left !important;
  font-size: 13px !important;
  margin: 5px 0;

  .list_old-price {
    margin-right: 10px;
  }

  .list-new_price {
    color: #ff2b5b !important;
    font-weight: bold;
  }
}

.product-blog {
  padding: 25px 15px;
  overflow: hidden;

  .title-bottom {
    width: 100%;
    height: 150px;
    //background: #151f21;
    //opacity: 0.6;
    padding: 15px 20px;
    position: absolute;
    bottom: 0;

    h2 {
      margin: 10px 0 !important;
    }
  }

  &:hover {
    img {
      transition: 0.5s;
      transform: scale(1.1);
    }
  }

  img {
    object-fit: contain;
  }

  .top_discount {
    position: absolute;
    top: 5%;
    right: 5%;
    border-radius: 0 !important;
  }

}

.big-btn {
  position: absolute;
  bottom: 10%;
  margin: auto;
  transform: translateX(60%);
}

.top_discount {
  border-radius: 0 !important;
  position: absolute !important;
  top: 5%;
  right: 5%;
}

#cards {
  .card-blog.card-background {
    min-height: 25rem !important;
    max-height: 25rem !important;
  }
}

.c1 {
  .card-image {
    height: auto !important;
  }

  img {
    max-height: 20rem !important;
  }
}

.carousel-cards {
  .carousel-inner {
    max-height: 13rem;
  }

  .w-100 {
    width: auto !important;
  }

  img {
    max-width: initial !important;
    max-height: 20rem;
  }
}

.pr_with_description {
  margin: 0 !important;

  .cd {
    margin: 0 !important;
    max-height: 15rem;
    min-height: 15rem;
  }
}

.blog-post .slick-slide img {
  margin-bottom: 0 !important;
}